.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Start my style.css */
body {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  background-color: azure;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  width: 80px;
  text-align: center;
}

li:hover {
  background-color: rgb(148, 218, 223);
}

.selected {
  background-color: rgb(136, 199, 183);
}

a:link {
  color: rgb(1, 41, 32);
}

a:visited {
  color: rgb(4, 22, 32);
}

